html, body {
  height: 100%;
  font-size: 18px;
  font-family: times, serif;
  padding-left: 2px;
}
#main {
  margin-left: 25px;
  margin-right: 25px;
}
#disclaimer {
  margin-left: 25px;
  margin-right: 25px;
}
